.header {
    background-image: linear-gradient(to right, lightblue, indigo, violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    length: 500px;
    width: auto;
    display: flex;
    align-items: center;
}
.header h1 {
    color: white;
    text-align: center;
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
}
.header img {
  clip-path: circle(50%);
  align: left;
  margin-right: 100px;
  margin-left: 100px;
}

.intro {
  padding: 10px;
  font-size: 20px;
  text-align: left;
  border: 1px solid black;
  margin-top: 30px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 200px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-image: linear-gradient(to right, lightblue, indigo, violet);
}
/* Style the navbar links */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
/* Change color on hover */
.navbar a:hover {
  background-color: #af7ac5;
  color: black;
}

#Contact p {
  color: black;
  text-align: center;
}
#Contact img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#Contact .desc {
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}
#Contact .form {
    display: block;
    text-align: center;
    margin-bottom: 15px;

}

#Contact .form-control {
    display:inline-block;
    width:100%;
    padding:.375rem .75rem;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    background-clip:padding-box;
    border:1px solid #ced4da;
}

#Contact .message {
    flex:0 0 auto;
    width:100%;
    display:inline-block;
}
#Contact .btn-primary {
    color:#fff;
    background-color:#0d6efd;
    border-color:#0d6efd;
    cursor:pointer;
    display:inline-block;
    font-weight:400;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
}

#Contact .btn-primary:hover {
    color:#fff;
    background-color:#6c03e0;
    border-color:#af7ac5;
    display:inline-block;
}

#Contact .form-info {
    flex: 0 0 auto;
    width: 50%;
    text-align: center;
    display:inline-block;
}

#Contact .email {
    flex: 0 0 auto;
    width: 66.66666667%;
    display:inline-block;
}
#Contact .intro {
    font-size: 20px;
}

#Languages p {
  color: black;
  text-align: center;
  font-size: 20px;
}
#Languages .center {
  color: black;
  text-align: center;
  font-size: 20px;
}
#Languages li {
  display: inline-block;
  text-align: center;
}
#Languages img {
    align: center;
}
#Languages a {
    text-decoration: none;
}

